<!DOCTYPE HTML>
<html>
<head>
	<title>AlaVille</title>
</head>
<body>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<script src="../index.js"></script>
	<div>Welcolme to Alaville</div>
	
	<div>
	<p>Magasin</p>
	<select name="magasin" id="magasin-select">
    	<option name="Magasin 1">Magasin 1</option>
    	<option name="Magasin 2">Magasin 2</option>
   		<option name="Magasin 3">Magasin 3</option>
    	<option name="Magasin 4">Magasin 4</option>
    	<option name="Magasin 5">Magasin 5</option>
	</select>
	</div>
	<div>
	<p>Produit</p>
	<select name="produit" id="produit-select">
		<option name="Produit 1" value="0.1">Produit 1</option>
		<option name="Produit 2" value="0.2">Produit 2</option>
		<option name="Produit 3" value="0.3">Produit 3</option>
		<option name="Produit 4" value="0.4">Produit 4</option>
		<option name="Produit 5" value="0.5">Produit 5</option>
		<option name="Produit 6" value="0.6">Produit 6</option>
		<option name="Produit 7" value="0.7">Produit 7</option>
		<option name="Produit 8" value="0.8">Produit 8</option>
		<option name="Produit 9" value="0.9">Produit 9</option>
		<option name="Produit 10" value="1">Produit 10</option>
	</select>
	</div>
	<div>
	<p>Client</p>
	<input type="text" id="nomcli"></input>
	</div>
	<div>
	<p>Quantite</p>
	<input type="text" id="quantity"></input>
	</div>
	<div>
	 <button type="button" onclick="getCommande()">Commander</button> 
	</div>
</body>
</html>